{% extends 'images/layout.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="features">
    <h1>{{ title }}</h1>
    <img src="{% static 'images/logos/vacuum_cleaner.gif' %}"
         alt="VC"
         class="vacuum-gif">
    <p1>{{ inf }}</p1>

    <form method="get">
        <input type="number"
               name="image_id"
               placeholder="Введите id">

        <button type="submit" class="btn btn-info">Найти изображение</button>
    </form>
</div>
{% endblock %}