{% extends 'images/layout.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="features">
    <h1>{{ title }}</h1>

    <h2>{{ inf1 }}</h2>

    <div class="image-grid">
        {% if show_info %}

            {% for el in show_info %}
                <div class="alert alert-warning">
                    <h3>{{ el.clean_name }}</h3>
                    <p>ID изображения: {{ el.id }}</p>
                    <img src="{{ el.image.url }}" width="300">
                    <p>Дата: {{ el.created_at }}</p>
                </div>
            {% endfor %}

        {% else %}
            <p>Изображений нет в базе</p>
        {% endif %}
    </div>


    <p>{{ inf2 }}</p>
    <form method="get">
        <input type="number"
            name="image_id"
            placeholder="Введите id">

    <button type="submit" class="btn btn-info ">Получить изображение</button>
    </form>
</div>
{% endblock %}